{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Title */ -}}
        {{- /* Paginate */ -}}
        {{- if .Pages -}}

        <!--
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        {{ $taxonomyname }}
        
            {{ range $key, $value := $taxonomy }}
            {{ $key }}<br>
                {{ range $value.Pages }}
                Page 1{{ .LinkTitle }}
                {{ end }} 
            {{ end }} 
            {{ end }}
        -->
            {{- $pages := .Pages.GroupByDate "2006" -}}
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.PageGroups -}}
                <h3 class="group-title">{{ .Key }}</h3>
                {{- range .Pages -}}

                <div class="project-card check-in-view" style="background-image: url('/img/{{- .Params.thumbnail -}}')">
                    <a href='{{ .RelPermalink }}'>
                      
                      <div class="overlay" style="background-image: var(--nice-gradient-{{- .Params.gradientcolor -}})">
                        <div class="project-card-inner">
                          {{- .Params.summary -}}
                        </div>
                        <span class="project-techs">{{- .Params.apps -}}</span></div>
                  
                        <h3 id="">{{- .Title -}}</h3>
                    </a>
                  </div>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
