{{- $lang := .lang -}}
<div style="background: linear-gradient(-212deg, #343d45, #1E2225); padding-top: 50px; padding-bottom: 50px;">
  <div class="current-projects" style="max-width: 1400px; margin-left: auto; margin-right: auto; text-align: center;">
    <h1 style="text-align: right; padding-right: 24px;">
      {{- if eq $lang "de" -}}
      Meine Projekte
      {{- end -}}
      {{- if eq $lang "en" -}}
      My Projects
      {{ end }}
    </h1>
  {{- range .cards -}}
  {{- if .featured -}}
<div class="project-card check-in-view" style="background-image: url('/projects/{{- .thumbnail -}}')">
  <a href="{{- .urlname -}}">
    <div class="overlay" style="background-image: var(--nice-gradient-{{- .gradientcolor -}})">
      <div class="project-card-inner">
        {{- if eq $lang "de" -}}
        {{- .summary -}}
        {{- else -}}
        {{- .summary_en -}}
        {{- end -}}
      </div>
      <span class="project-techs">{{- .apps -}}</span></div>

      <h3 id="">{{- if eq $lang "de" -}}{{- .name -}}{{- else -}}{{- .name_en -}}{{ end }}</h3>
  </a>
</div>
{{- end  -}}
{{- end  -}}


<br><br>
<a href="/projects">
<button style="color: white; font-family: 'Nunito', sans-serif; font-size: 24px;">Alle Projekte<i class="fas fa-chevron-right"></i></button></a>
</div>
</div>
<style>
.current-projects {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
</style>