$accent-text: #E7A632;
.header-mark {
    float: right;
    display: none;
}

hr {
    height: 1px;
    border: none !important;
    width: 70%;
    max-width: 800px;
}

.hr-accent-full {
    height: 4px;
    background: #E7A632;
    width: 100%;
    max-width: 100%
}

h1 {
    color: $accent-text;
    font-family: "Poppins";
    font-size: 55px;
    line-height: 60px;
}

[theme=dark] hr {
    background: $accent-text !important;
}

.tcl-column {
    float: left;
    height: auto;
}

.tcl-column image,
video {
    max-width: 100%;
}

.tcl-left {
    padding-right: 10px;
}

.tcl-right {
    float: right;
}

/* Clear floats after the columns */

.tcl-row:after {
    content: "";
    display: table;
    clear: both;
}

.sidebar {
    width: 130px;
    height: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 55px !important;
    top: 0px;
    right: 0px;
    background: #f9f9f9;
    overflow-x: hidden;
    padding: 8px 0;
}

[theme=dark] .sidebar {
    background: $header-background-color-dark;
}

[theme=dark] .sidebar a:hover {
    background: #252627;
    background-image: linear-gradient(to right, $accent-text 2%, #0000 2.1%);
    color: $single-link-hover-color-dark !important;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    font-size: 14px;
    display: block;
}

.sidebar a:hover {
    color: $single-link-hover-color !important;
    background-image: linear-gradient(to right, #2d96bd 2%, #0000 2.1%);
}

.sidebar-arrow {
    visibility: hidden;
}

.describer-right {
    float: right;
    color: #777;
    margin-top: -43px !important;
}

@media screen and (max-width: 880px) {
    .tcl-column {
        width: 100% !important;
        max-width: 100% !important;
    }
    .sidebar {
        display: none;
    }
    .describer-right {
        float: none;
    }
}

.image-caption {
    color: #666 !important;
}

[theme=dark] .image-caption {
    color: #999 !important;
}

.lg-sub-html h2 {
    font-size: 18px;
}

.home-profile {
    padding-top: 10px !important;
}

.footer-container {
    background: #1A1E21 !important;
}

.mailme {
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.mailme .row {
    text-align: center;
    width: 700px;
    max-width: 90%;
    display: inline-block;
}

.mailme .row input {
    width: 50%;
}

.mailme textarea {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    max-width: 90%;
    margin-bottom: 5px;
    margin-top: 5px;
    border: none;
    resize: none;
}

.hero {
    $width: 100%;
    margin-top: 55px;
    padding-top: ($width * 0.2);
    width: $width;
    max-width: $width;
    position: relative;
    display: flex;
    justify-content: center;
}

.hero-front {
    $width: 100%;
    margin-top: 55px;
    width: $width;
    max-width: $width;
    background-size: 100%;
    background-position: 100% calc(100% + 10px);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 55px);
}

.hero-front h1 {
    top: 30%;
    font-weight: bold;
    font-size: 55px;
    max-width: 800px;
    line-height: 60px;
    text-align: left;
}

.hero h1 {
    position: absolute;
    top: 27%;
    font-weight: bold;
    font-size: 55px;
    max-width: 800px;
    line-height: 60px;
    text-align: center;
    color: white;
}

button {
    font-family: "Poppins";
    font-weight: lighter;
    font-size: 25px;
    color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 24px;
    padding: 8px 30px 8px 30px;
    transition: background-color .3s;
    transition: color .3s background-color 0.3s;
    background: #db9926;
}

button:hover {
    background: #ffb93f;
    cursor: pointer;
    color: black !important;
}

.hero-front button {
    position: absolute;
    top: 30%;
    text-align: center;
    margin-top: 180px;
}

@media screen and (max-width: 755px) {
    .hero h1 {
        top: -5px;
        font-size: 40px;
    }
    .hero-front h1 {
        top: 25%;
        font-size: 25px;
        line-height: 30px;
    }
    .hero-front button {
        font-size: 20px;
        position: absolute;
        top: 30%;
        margin-top: 80px;
        padding: 5px 10px;
    }
    h1 {
        font-size: 40px;
        line-height: 43px;
    }
}

.container {
    padding: 0px !important;
}

.page {
    padding: 15px 8px 12px 8px !important;
}

* {
    box-sizing: border-box;
}

h2 {
    font-family: "Poppins";
    color: #FFB73A !important;
}

.active,
.accent {
    color: #FFB73A !important;
}

form textarea,
form input {
    border: 6px solid #1A1E21 !important;
    outline: none;
    padding: 10px;
}

.project-summary {
    padding: 20px;
}

.project-card-inner {
    position: absolute;
    width: 300px;
    //color: rgb(230, 230, 230);
}

.project-card {
    width: 400px;
    max-width: 90%;
    height: 230px;
    box-shadow: 4px 5px 16px rgba(0, 0, 0, 0.671);
    background: rgb(56, 56, 56);
    display: inline-block;
    margin: 10px;
    background-size: cover;
    text-align: left;
    filter: grayscale(1);
    transition: filter 0.5s;
}

.project-techs {
    position: absolute;
    bottom: 10px;
    right: 10px;
    float: right;
    color: #E7A632;
    font-size: 16px;
}



.project-card:hover {
    text-align: left;
    filter: grayscale(0);
  }

.project-who {
    color: white; 
    float: right;
    right: 10px;
    font-family: "Poppins";
    font-size: 23px;
    position: absolute;
    text-align: right;
}

.overlay {
    position: absolute;
    background-image: var(--nice-gradient-aqua);
    width: 400px;
    height: 230px;
    padding-left: 15px;
    color: rgba(182, 182, 182, 0);
    transition: opacity 0.6s, color 0.3s;
    opacity: 0;
    padding-top: 64px;
}

.overlay:hover {
    opacity: 1;
    color: rgb(182, 182, 182);
}

.project-card:hover h3 {
    color: #fff;
}

.project-card h3 {
    position: absolute;
    margin-left: 12px !important;
    max-width: 400px;
    color: #ffa304;
    transition: color 1.6s;
}


@media screen and (max-width: 500px) {

    .overlay, .project-card {
        width: 360px;
        height: 207px;
        font-size: 17px;
    }

    .project-techs {
        margin-top: 98px;
    }
}

.links a {
    font-size: 34px;
    color: $accent-text;
}

@media screen and (min-width: 910px) {
    .menu-item:nth-child(7) {
        background: #E7A632;
        color: white;
        border-radius: 20px;
        padding: 6px 13px;
        transition: background-color .3s;
        transition: color .1s;
    }
    .menu-item:nth-child(7):hover {
        background: #FFB73A;
        color: #000;
    }
}

.aplayer-body {
    background: #16191b !important;
}

@media screen and (max-width: 960px) {
    .sidebar {
        transition: right 0.2s;
        right: -110px;
    }
    .sidebar a {
        visibility: hidden;
    }
    .sidebar:hover {
        right: 0px;
    }
    .sidebar:hover a {
        visibility: visible;
    }
    .sidebar-arrow {
        visibility: visible;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 8px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .sidebar:hover .sidebar-arrow {
        visibility: hidden;
    }
}

.page {
    margin-top: 60px;
    width: 100%;
    max-width: 1400px !important;
}
h1 {
    color: white;
}
