:root {
  // ========== Global ========== //
  // Font and Line Height
  --global-font-family: #{inspect($global-font-family)};
  --global-font-size: #{$global-font-size};
  --global-font-weight: #{$global-font-weight};
  --global-line-height: #{$global-line-height};
  // ========== Global ========== //

  // ========== Header ========== //
  // Height of the header
  --header-height: #{$header-height};

  // Font family and size of the header title
  --header-title-font-family: #{inspect($header-title-font-family)};
  --header-title-font-size: #{$header-title-font-size};
  // ========== Header ========== //

  // ========== Single Content ========== //
  // Font size of the TOC
  --toc-title-font-size: #{$toc-title-font-size};
  --toc-content-font-size: #{$toc-content-font-size};
  // ========== Single Content ========== //

  // ========== Code ========== //
  // Font family and size of the code
  --code-font-family: #{inspect($code-font-family)};
  --code-font-size: #{$code-font-size};
  // ========== Code ========== //

  --nice-gradient-aqua: linear-gradient(120deg, #102d4449 10%, #164553 80%, #165163 95%);
  --nice-gradient-green: linear-gradient(120deg, #10444498 10%, #124733 80%, #14573d 95%);
  --nice-gradient-orange: linear-gradient(120deg, #44201049 10%, #6e491e 80%, #865616 95%);
  --nice-gradient-magenta: linear-gradient(120deg, #44104449 10%, #4a1152 80%, #58155a 95%);
  --nice-gradient-red: linear-gradient(120deg, #44102649 10%, #531616 80%, #631616 95%);
  --nice-gradient-blue: linear-gradient(120deg, #14213f84 10%, #363287 80%, #1c3772 95%);
}
