<div class="project-summary"><a href="/pr"><i class="fas fa-chevron-left"></i><span> Alle Projekte</span></a>
    <h1 id="{{.Get "id"}}">{{.Get "name"}}
        {{with .Get "web"}}<a href="{{ . }}"><i class="fa-solid fa-globe"></i></a>{{end}}
        {{with .Get "gh"}}<a href="https://github.com/{{ . }}"><i class="fab fa-github fa-gh"></i></a>{{end}}
        {{with .Get "pdf"}}<a href="{{ . }}"> <i class="fas fa-file-pdf"></i></a>{{end}}
        {{with .Get "exe"}}<a href="{{ . }}"><i class="fab fa-windows"></i></a>{{end}}</h1>
    <span class="describer-right">{{.Get "apps"}}</span>
    {{.Inner | markdownify}}
</div>
